SMO/Service References/TGBX_GW/GW_SMO1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GW_SMO.Database" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GW_SMO.Database" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEndpoint_01Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Endpoint_01Result" nillable="true" type="tns:Endpoint_01Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEndpoint_01Result" nillable="true" type="tns:ArrayOfEndpoint_01Result" />
  <xs:complexType name="Endpoint_01Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="DuXuat" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MaHangHoa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SoLenh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ThoiGianCuoi" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ThoiGianDau" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TongXuat" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TrangThai" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrangThai_Time" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Endpoint_01Result" nillable="true" type="tns:Endpoint_01Result" />
  <xs:complexType name="ArrayOfEndpoint_02_ViewTableResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Endpoint_02_ViewTableResult" nillable="true" type="tns:Endpoint_02_ViewTableResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEndpoint_02_ViewTableResult" nillable="true" type="tns:ArrayOfEndpoint_02_ViewTableResult" />
  <xs:complexType name="Endpoint_02_ViewTableResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="MaPhuongTien" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SoLenh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrangThai_SMO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Endpoint_02_ViewTableResult" nillable="true" type="tns:Endpoint_02_ViewTableResult" />
</xs:schema>