SMO/Web References/EGAS_GW/EGASWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="get_transaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fromdate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="todate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strpos" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tran_type" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_transactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="get_transactionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SMO_transaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="transportnumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SMO_transactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SMO_transactionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="get_transactionSoapIn">
    <wsdl:part name="parameters" element="tns:get_transaction" />
  </wsdl:message>
  <wsdl:message name="get_transactionSoapOut">
    <wsdl:part name="parameters" element="tns:get_transactionResponse" />
  </wsdl:message>
  <wsdl:message name="SMO_transactionSoapIn">
    <wsdl:part name="parameters" element="tns:SMO_transaction" />
  </wsdl:message>
  <wsdl:message name="SMO_transactionSoapOut">
    <wsdl:part name="parameters" element="tns:SMO_transactionResponse" />
  </wsdl:message>
  <wsdl:portType name="EGASWebServiceSoap">
    <wsdl:operation name="get_transaction">
      <wsdl:input message="tns:get_transactionSoapIn" />
      <wsdl:output message="tns:get_transactionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SMO_transaction">
      <wsdl:input message="tns:SMO_transactionSoapIn" />
      <wsdl:output message="tns:SMO_transactionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EGASWebServiceSoap" type="tns:EGASWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="get_transaction">
      <soap:operation soapAction="http://tempuri.org/get_transaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SMO_transaction">
      <soap:operation soapAction="http://tempuri.org/SMO_transaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EGASWebServiceSoap12" type="tns:EGASWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="get_transaction">
      <soap12:operation soapAction="http://tempuri.org/get_transaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SMO_transaction">
      <soap12:operation soapAction="http://tempuri.org/SMO_transaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EGASWebService">
    <wsdl:port name="EGASWebServiceSoap" binding="tns:EGASWebServiceSoap">
      <soap:address location="http://10.59.254.102:923/EGASWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="EGASWebServiceSoap12" binding="tns:EGASWebServiceSoap12">
      <soap12:address location="http://10.59.254.102:923/EGASWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>